:root {
      /* FONTS */
      --primary-font: 'Gothic A1', sans-serif;
      --secondary-font: 'Inter', sans-serif;
      --third-font: 'Vujahday Script', sans-serif;

      --border-radius: 6px;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: var(--secondary-font);
}

body {
      background: rgb(231, 236, 236);
}



.container {
      width: 80%;
      margin: auto;
}

.btn {
      padding: 8px 10px;
      border: 1px solid #000;
      border-radius: var(--border-radius);
      cursor: pointer;
      font-size: 14px;

      background: rgb(255, 255, 255);
      color: #000;
}

label {
      font-size: 18px;
      
}

input {
      padding: 8px 10px;
}
/* 
.page {
      display: flex;
            align-items: flex-start;
            justify-content: space-between;
} */

@media screen and (max-width: 450px){
      .container {
            width: 100%;
            padding: 0 10px;
      }
}